@font-face {
	font-family: sideTextFont;
	src: url(../../assets/Fyfrurom.ttf);
}

@font-face {
	font-family: mainTextFont;
	src: url(../../assets/Fyfrubol.ttf);
}

.content {
	height: 100vh;
	display: flex;
}

.static-text {
	display: flex;
	color: white;
}

.side-text {
	font-size: 4rem;
	padding: 1rem 2rem;
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
	text-align: right;
	border-right: 2px solid white;
	font-weight: 300;
	font-family: sideTextFont;
}

.main-text {
	font-size: 10rem;
	font-family: mainTextFont;
}
