.audio-control {
	display: flex;
	flex-direction: column;
}

.relative {
	position: relative;
}

#music-upload {
	color: black;
	outline: none;
}

#audio-player {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

img {
	position: absolute;
	top: 240px;
	left: 115px;
}
